.app-wrapper {
  margin: 0 auto;
  width: 720px;
  display: grid;
    grid-template-areas: 
      "header header"
      "n c";
    grid-template-rows: 60px, 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.app-header {
  grid-area: header;
  background: #32a6e6;
}

.app-header img {
  width: 50px;
}

.app-main-content {
  grid-area: c;
  background: #00ffb3;
}

.app-main-content img {
  width: 120px;
}

.app-nav {
  background-color: #b032e6;
}

.profile img {
  width: 100px;
}